
.navbar {
    display: flex;
    align-items: right;
    justify-content: right;
    list-style: none;
    padding: 0 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #6b7173;
    transition: 0.3s ease; /*slows down hovering effect*/
  }
  .navbar:hover {
    color: #1a1a1a;
  }
  
  
  .logo{
    padding: 0;
    margin-top: 0px;
    width: 80px;
    max-width: 80px;
    height: auto;
  }
  
  .cardimg{
    padding: 0;
    margin-top: 0px;
    width: 80px;
    max-width: 100px;
    height: auto;
  }
  
  .cardfont{
    font-size: 12px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease; /*slows down hovering effect*/
  }
  
  .prizefont{
    font-size: 10px;
    font-weight: 500;
    color: #1a1a1a;
    transition: 0.3s ease; /*slows down hovering effect*/
  }
  
